doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title 完善代理信息
		link(rel="shortcut icon" href="/images/logo.png")
		link(rel="bookmark" href="/images/logo.png")
		link(rel="icon" href="/images/logo.png" type="image/png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="apple-touch-icon" href="/images/logo.png")
		meta(name="apple-mobile-web-app-title" content="完善代理信息")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="white")
		link(rel="stylesheet" href="/styles/chaedu.css")
		script(src="/js/remind.js")
	body
		img.chaedu_img(src="/images/activity_add.png")
		input.chaedu_input1(type="text" placeholder="输入您的姓名")
		input.chaedu_input2(type="text" placeholder="输入您的手机号")
		div.chaedu_a(id="number" data-number=number style="cursor:pointer;") 提交
	script(src="/js/jquery.min.js")
	script(src="/js/activity_add.js")