doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title 添加代理
		link(rel="shortcut icon" href="http://feidaijun.xiaohongxian.com/logo.png")
		link(rel="bookmark" href="http://feidaijun.xiaohongxian.com/logo.png")
		link(rel="icon" href="http://feidaijun.xiaohongxian.com/logo.png" type="image/png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="apple-touch-icon" href="http://feidaijun.xiaohongxian.com/logo.png")
		meta(name="apple-mobile-web-app-title" content="添加代理")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="white")
		link(rel="stylesheet" href="http://feidaijun.xiaohongxian.com/chaedu.css")
		script(src="http://feidaijun.xiaohongxian.com/remind.js")
	body
		img.chaedu_img(src="http://feidaijun.xiaohongxian.com/fd_daili.png")
		input.chaedu_input1(type="text" placeholder="输入代理人姓名")
		input.chaedu_input3(type="text" placeholder="输入代理手机号")
		input.chaedu_input2(type="text" placeholder="输入8位数字工号")
		div.chaedu_a(style="cursor:pointer;") 提交
	script(src="http://feidaijun.xiaohongxian.com/jquery.min.js")
	script(src="http://feidaijun.xiaohongxian.com/add_gonghao.js")