doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title 录件系统
		link(rel="shortcut icon" href="/images/logo.png")
		link(rel="bookmark" href="/images/logo.png")
		link(rel="icon" href="/images/logo.png" type="image/png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="apple-touch-icon" href="/images/logo.png")
		meta(name="apple-mobile-web-app-title" content="录件系统")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="white")
		link(rel="stylesheet" href="/styles/chaedu.css")
		script(src="/js/remind.js")
	body
		img.chaedu_img(src="/images/fd_chae.png")
		input.chaedu_input1(type="text" placeholder="输入使用者姓名")
		input.chaedu_input2(type="text" placeholder="输入使用者工号")
		div.chaedu_a 进入系统
	script(src="/js/jquery.min.js")
	script(src="/js/chaedu_enter.js")