doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title 代理详情
		link(rel="shortcut icon" href="http://feidaijun.xiaohongxian.com/logo.png")
		link(rel="bookmark" href="http://feidaijun.xiaohongxian.com/logo.png")
		link(rel="icon" href="http://feidaijun.xiaohongxian.com/logo.png" type="image/png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="apple-touch-icon" href="http://feidaijun.xiaohongxian.com/logo.png")
		meta(name="apple-mobile-web-app-title" content="代理详情")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="white")
		link(rel="stylesheet" href="http://feidaijun.xiaohongxian.com/chaedu_dailis.css")
		script(src="http://feidaijun.xiaohongxian.com/reminds.js")
	body
		div.daili_top
			div.chaedu_daili_bar
				div.bar_1(id="mySelf") 自身
				div.bar_1(class="active" id="zhiShu") 一
				div.bar_1(id="erji") 二
				div.bar_1(id="sanji") 三
				div.bar_1(id="siji") 四
			div.daili_content
				include ../component/daili_profile.pug
	script(src="http://feidaijun.xiaohongxian.com/jquery.min.js")
	script(src="http://feidaijun.xiaohongxian.com/chaedu_daili.js")