doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title 活动规则
		link(rel="shortcut icon" href="/images/logo.png")
		link(rel="bookmark" href="/images/logo.png")
		link(rel="icon" href="/images/logo.png" type="image/png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="apple-touch-icon" href="/images/logo.png")
		meta(name="apple-mobile-web-app-title" content="活动规则")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="white")
		link(rel="stylesheet" href="/styles/xiaohong.css")
	body
		div.top_guize
			div.header-number
				img(src="/images/fd_guize.png")
			div.chaedu_guize
				p.p_guize <span class="span_guize">1</span>活动对象：受邀客户须为未注册飞贷的新用户。本活动仅针对信用额度，抵押额度暂不参与。
				p.p_guize <span class="span_guize">2</span>推广方式：代理人可生成专属管理后台和专属授权工号进行推广；用户通过代理人的专属链接或专属二维码在飞贷APP注册方视为有效推广，若用户已是飞贷注册用户，不属于有效受邀人，无法接受邀请。
				p.p_guize <span class="span_guize">3</span>奖励设置：佣金=用户首次借款金额*1%，单笔佣金高达12000元，受邀用户使用30天产品15天及以上，或者使用分期产品30天及以上，且借款无逾期，代理人方可获得佣金。佣金仅针对受邀用户发生的首次信用额度借款发放。
				p.p_guize <span class="span_guize">4</span>数据更新：活动将于每日凌晨更新前一天推广数据，敬请留意。
				p.p_guize <span class="span_guize">5</span>佣金领取：受邀用户借款天数达标后，即用户借款第31日无逾期行为且累计放款金额60万元以上，代理人即可在代理人后台领取佣金（满足条件后领奖金按钮会被激活），奖金会发放到代理人填写的支付宝账号。
				p.p_guize <span class="span_guize">6</span>若发现代理人以不正当方式参与本次活动（如涉嫌欺骗、诋毁飞贷、作弊等行为），将取消代理资格且奖金不予发放。
				p.p_guize <span class="span_guize">7</span>活动限时邀请，奖励限时领取。活动结束后，如继续推广客户，活动奖励不再发放。活动结束后第45个自然日起为奖励领取截止时间，逾期未领取视为自动放弃奖励，奖励不再发放。
				p.p_guize <span class="span_guize">8</span>超级代理人：当代理人业绩稳定且每月用户首借金额累计超过500万，代理人自动升级为超级代理人，超级代理人可获得更高的奖励。
				p.p_guize <span class="span_guize">9</span>功能激活：代理人邀请用户首借累计满200万录件功能、添加代理功能自动激活、累计首借满500万。
		script(src="/js/jquery.min.js")
		script(src="/js/remind.js")