doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title 飞侠-代理登录
		link(rel="shortcut icon" href="http://feidaijun.xiaohongxian.com/feixia_logo.png")
		link(rel="bookmark" href="http://feidaijun.xiaohongxian.com/feixia_logo.png")
		link(rel="icon" href="http://feidaijun.xiaohongxian.com/feixia_logo.png" type="image/png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="apple-touch-icon" href="http://feidaijun.xiaohongxian.com/feixia_logo.png")
		meta(name="apple-mobile-web-app-title" content="飞侠")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="white")
		link(rel="stylesheet" href="http://feidaijun.xiaohongxian.com/chaeduEnter1.css")
		script(src="http://feidaijun.xiaohongxian.com/remindx.js")
	body
		div.top
			text.tlogin 欢迎回到飞侠
			text.tlogins 让我们更好的为您服务
			input.chaedu_input1(type="text" placeholder="输入使用者姓名")
			input.chaedu_input2(type="text" placeholder="工号或手机号后8位")
			div.chaedu_a 确认登陆
	script(src="http://feidaijun.xiaohongxian.com/jquery.min.js")
	script(src="http://feidaijun.xiaohongxian.com/chaeduEnter.js")