doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title 查额系统
		link(rel="shortcut icon" href="http://feidaijun.xiaohongxian.com/logo.png")
		link(rel="bookmark" href="http://feidaijun.xiaohongxian.com/logo.png")
		link(rel="icon" href="http://feidaijun.xiaohongxian.com/logo.png" type="image/png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="apple-touch-icon" href="http://feidaijun.xiaohongxian.com/logo.png")
		meta(name="apple-mobile-web-app-title" content="查额系统")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="white")
		link(rel="stylesheet" href="http://feidaijun.xiaohongxian.com/zonghes.css")
		script(src="http://feidaijun.xiaohongxian.com/remind.js")
	body
		img.chaedu_welcome(src="http://feidaijun.xiaohongxian.com/fd_chae.png")
		//- a.chaedu_new(href="/sys_home") 录新件
		//- a.chaedu_old(href="/chaedu_profile") 已录件
		//- a.chaedu_old(href="/chaedu_profile_1") 有效战绩
		//- a.chaedu_old(href="/add_gonghao") 添加代理
		//- a.chaedu_reg(href="#") 代理人规则
		//- a.chaedu_jin(class="old_a") 领奖金(未激活)
		a.chaedu_new(style=data.b_img href=data.url)=data.title_1
		a.chaedu_old(style="display:"+data.displ href="/chaedu_profile") 查过的客户
		a.chaedu_old(href="/chaedu_profile_1") 有效战绩
		a.chaedu_reg_1(id="zs_url" style="display:"+data.disp data-url="/chaedu_activity_zs/"+data.number) 独立招商二维码
		a.chaedu_reg_1(style="display:"+data.disp href="/chaedu_guize_zs") 招商奖励
		a.chaedu_reg_1(id="tg_url" data-tg="/newEnter/"+data.number) 独立推广二维码
		a.chaedu_old(style=data.b_img_2 href=data.url_1)=data.title_2
		a.chaedu_reg(href="/chaedu_daili") 代理详情
		a.chaedu_reg(href="/chaedu_guize") 活动规则
		a.chaedu_jin(class="old_a") 领奖金(未激活)
		div.frame_ba(style="display:"+data.disba)
			div.frame_content
				span=data.name
			img.clear_ba(style="margin-top:10px;" src="http://feidaijun.xiaohongxian.com/clear.png")
		div.qrcode_zs(style="display:none;")
			div.qrcode_zs_b
				div(id="qrcode")
			img.clear_a(style="margin-top:10px;" src="http://feidaijun.xiaohongxian.com/clear.png")
		div.qrcode_sq(style="display:none;")
			div.qrcode_tg_b
				div(id="qrcode_t")
			img.clear_t(style="margin-top:10px;" src="http://feidaijun.xiaohongxian.com/clear.png")
	script(src="http://feidaijun.xiaohongxian.com/jquery.min.js")
	script(src="http://feidaijun.xiaohongxian.com/qrcode.min.js")
	script(src="http://feidaijun.xiaohongxian.com/chaedu_zonghe.js")