doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title 活动规则
		link(rel="shortcut icon" href="http://feidaijun.xiaohongxian.com/logo.png")
		link(rel="bookmark" href="http://feidaijun.xiaohongxian.com/logo.png")
		link(rel="icon" href="http://feidaijun.xiaohongxian.com/logo.png" type="image/png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="apple-touch-icon" href="http://feidaijun.xiaohongxian.com/logo.png")
		meta(name="apple-mobile-web-app-title" content="活动规则")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="white")
		link(rel="stylesheet" href="http://feidaijun.xiaohongxian.com/xiaohong.css")
		script(src="http://feidaijun.xiaohongxian.com/remindx.js")
	body(style="background-color:#be3c35")
		div.top_guize
			div.header-number(style='margin-top:20px;')
			div.chaedu_guize(style="background-color:#fff;border:1px solid #474747;color:#474747;")
				p.p_guize(style='font-size:20px;font-weight:bold;margin-top:5px;') 2019三级返佣规则(佣金由平台发放)
				p.p_guize （说明：每一级都平等，都能拿三级返佣）
				p.p_guize 每个客户的第31天佣金生效，自动发放至绑定的支付宝
				p.p_guize <span class="span_guize">1</span>规则A : 自身+直属代理月总业绩(Z),决定自身佣金比例
				p.p_guize a：Z=0-31万，自身业绩佣金1%；
				p.p_guize b：Z=31.1-99万，自身业绩佣金1.5%；
				p.p_guize c：Z=99.1-200万，自身业绩佣金1.8%；
				p.p_guize d：Z=200-500万，自身业绩佣金2%；
				p.p_guize e：Z大于500万，自身业绩佣金2.X%(待定)；
				p.p_guize f：(待定)
				p.p_guize <span class="span_guize">2</span>规则B: 拿一级、二级全部客户业绩提成
				p.p_guize a：拿一级全部客户的0.3个点
				p.p_guize b：拿二级全部客户的0.2个点
				p.p_guize <span class="span_guize">3</span>规则C: 业绩特别突出的渠道，成为特级代理。
				p.p_guize(style='font-size:20px;font-weight:bold;margin-top:35px;') 代理须知
				p.p_guize <span class="span_guize">1</span>活动对象：受邀客户须为未注册飞贷的新用户。本活动仅针对信用额度，抵押额度暂不参与。
				p.p_guize <span class="span_guize">2</span>推广方式：代理人可生成专属管理后台和专属二维码进行推广；用户通过代理人的专属链接或专属二维码在飞贷APP注册方视为有效推广，若用户已是飞贷注册用户，不属于有效受邀人，无法接受邀请。
				p.p_guize <span class="span_guize">4</span>数据更新：活动将于每日凌晨更新前一天推广借款用户数据，敬请留意。
				p.p_guize <span class="span_guize">5</span>佣金领取：受邀用户借款天数达标后，即每个用户借款的第31日无逾期，即可在领佣金界面看到生效的佣金和发放进度，详情请移步领佣金界面查看。
				p.p_guize <span class="span_guize">6</span>若发现代理人以不正当方式参与本次活动（如涉嫌欺骗、诋毁飞贷、作弊等行为），将取消代理资格且奖金不予发放。
				p.p_guize <span class="span_guize">7</span>功能激活：代理人邀请用户首借累计满200万查额度功能永久激活。






