doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title 飞贷-福利
		link(rel="shortcut icon" href="http://feidaijun.xiaohongxian.com/logo.png")
		link(rel="bookmark" href="http://feidaijun.xiaohongxian.com/logo.png")
		link(rel="icon" href="http://feidaijun.xiaohongxian.com/logo.png" type="image/png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="apple-touch-icon" href="http://feidaijun.xiaohongxian.com/logo.png")
		meta(name="apple-mobile-web-app-title" content="飞贷福利")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="white")
		link(rel="stylesheet" href="http://feidaijun.xiaohongxian.com/xiaohong.css")
		script(src="http://feidaijun.xiaohongxian.com/remind.js")
	body
		div.header
			img(src="http://feidaijun.xiaohongxian.com/feidai_logo.png")
		div.content
			a.content-list-a(href='https://wx.feidai.com/view/NewActivityDetail/ReceiveFriend.aspx?type=1&phone=13250811749') 通过率高（限新用户）
			a.content-list-a(href='https://wx.feidai.com/view/NewActivityDetail/ReceiveFriend.aspx?type=1&phone=13250811749') 额度高（限新用户）
			//- a.content-list-a(href='https://wx.feidai.com/view/NewActivityDetail/ReceiveFriend.aspx?type=1&phone=13064756478') 新用户提额（入口）
			//- a.content-list-a(href='https://wx.feidai.com/view/NewActivityDetail/ReceiveFriend.aspx?type=1&phone=13250811749') 新用户提额（入口）
			//- a.content-list-a(href='http://xchannel.feidai.com/FeiDaiWebSite/feidai/down/sourcecount?code=41277') 提率（入口）
			//- a.content-list-a(href='http://xchannel.feidai.com/FeiDaiWebSite/feidai/down/sourcecount?code=37227') 提额（入口）
			//- a.content-list-a(href='https://wx.feidai.com/view/NewActivityDetail/ReceiveFriend.aspx?phone=13186784881') 新用户提额（入口）
			a.content-list-a(href='http://xchannel.feidai.com/FeiDaiWebSite/feidai/down/sourcecount?code=41277') 二次申请(限老用户)
			//- a.content-list-a(href='/baoming') 新品内测预约
		div.footer
			div.footer-a
				img.footer-a-img(src="http://feidaijun.xiaohongxian.com/syq5.png")
		script(src="http://feidaijun.xiaohongxian.com/jquery.min.js")
		script(src="http://feidaijun.xiaohongxian.com/fdhome.js")