 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Helvetica Neue,PingFang SC,Microsoft YaHei;
    -webkit-font-smoothing:antialiased;/* chorm safari 抗锯齿*/
    -webkit-overflow-scrolling:touch;
    outline:none;
}
/* 滚动条样式调节*/
::-webkit-scrollbar{margin-right:3px;width:4px;height:4px}
::-webkit-scrollbar,::-webkit-scrollbar-track{background-color:transparent}
::-webkit-scrollbar-thumb{width:4px;border-radius:2px;background-color:#e4e4e4}

body,html{min-height:100%;background:#2e323c;}
a,a:visited{text-decoration:none}
h1,h2,h3,h4,h5,h6{font-weight:500}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.chaedu_img{
	margin-top:0px;
	width:100%;
}
.chaedu_input_info{
	width:100vw;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.chaedu_input1{
	margin-top:20px;
}
.chaedu_input2,.chaedu_input3,.chaedu_input04,
.chaedu_input4,.chaedu_input5,.chaedu_input6,
.chaedu_input7,.chaedu_input8,.chaedu_input9,
.chaedu_input10,.chaedu_input11,.chaedu_input12,
.chaedu_input13,.chaedu_input14,.chaedu_input15,
.chaedu_input16,.chaedu_input17,.chaedu_input18,
.chaedu_input19,.chaedu_input20,.chaedu_input21,
.chaedu_input22,.chaedu_input23,.chaedu_input24,
.chaedu_input25,.chaedu_input26,.chaedu_input27,
.chaedu_input28,.chaedu_input028,.chaedu_input29,.chaedu_input029,.chaedu_input30,
.chaedu_input31,.chaedu_input32,.chaedu_input33,.chaedu_input34{
	margin-top:20px;
}

.chaedu_input1,.chaedu_input2,.chaedu_input3,.chaedu_input04,
.chaedu_input4,.chaedu_input5,.chaedu_input6,
.chaedu_input7,.chaedu_input8,.chaedu_input9,
.chaedu_input10,.chaedu_input11,.chaedu_input12,
.chaedu_input13,.chaedu_input14,.chaedu_input15,
.chaedu_input16,.chaedu_input17,.chaedu_input18,
.chaedu_input19,.chaedu_input20,.chaedu_input21,
.chaedu_input22,.chaedu_input23,.chaedu_input24,
.chaedu_input25,.chaedu_input26,.chaedu_input27,
.chaedu_input28,.chaedu_input028,.chaedu_input29,.chaedu_input029,.chaedu_input30,
.chaedu_input31,.chaedu_input32,.chaedu_input33,.chaedu_input34{
	
	width:93vw;
	height: 45px;
	border-radius: 22.5px;
	border:none;
	padding-left:12px;
	color:#666;
}

.chaedu_inputs{
	width:200px;
	height: 40px;
	color:#fff;
	background-color: #cd2325;
	background-image: linear-gradient(135deg,#72bf70 0%,#4f97be 100%);
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top:20px;
}



.chaedu_a{
	position: fixed;
	bottom: 0px;
	width:100vw;
	height: 55px;
	background-color: #cd2325;
	background-image: linear-gradient(135deg,#72bf70 0%,#4f97be 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	color:#fff;
	font-size: 22px;
	font-weight:600;
}
.chaedu_a:hover{
	background-color: #b01b1d;
}


.chaedu_go{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding:0 60px 0 60px;
	position: relative;
	top:20px;
	width:70%;
	height: 80px;
}

.chaedu_go1{
	width:10px;
	height: 10px;
	border-radius: 50%;
	background-color: #999;
	cursor: pointer;
}

select{
	margin-top:30px;
	width:40vw;
	height: 30px;
	border:none;
	border-radius: 10px;
	padding-left:10px;
	color:#666;

}

select option{
	border:none;
}