 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Helvetica Neue,PingFang SC,Microsoft YaHei;
    -webkit-font-smoothing:antialiased;/* chorm safari 抗锯齿*/
    -webkit-overflow-scrolling:touch;
    outline:none;
}
/* 滚动条样式调节*/
::-webkit-scrollbar{margin-right:3px;width:4px;height:4px}
::-webkit-scrollbar,::-webkit-scrollbar-track{background-color:transparent}
::-webkit-scrollbar-thumb{width:4px;border-radius:2px;background-color:#e4e4e4}

body,html{min-height:100%;background:#e6e8ec;}
a,a:visited{text-decoration:none}
h1,h2,h3,h4,h5,h6{font-weight:500}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    padding-bottom: 80px;
}
.feixia_name{
    margin-top: 40px;
    display: flex;
    align-items: center;
    font-size: 26px;
    color:#333;
    font-weight: bolder;
    font-family: "微软雅黑";
    width:100vw;
    height: 30px;
    padding-left: 4vw;
}
.feixia_all{
    margin-top:20px;
    margin-bottom:10px;
    width:93vw;
    height: 180px;
    background-color: #262a34;
    border-radius: 10px;
}



.chaedu_welcome{
    width:100%;
    font-size: 25px;
    font-weight: bold;
    height: auto;
}
.chaedu_title{
    width:90vw;
    height: 150px;
    background-color: #2f3540;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    font-size: 30px;
    font-weight: bold;

}
.chaedu_new{
    margin-top:20px;
    width:93vw;
    height: 50px;
    background-color: #d32628;
    background-image: linear-gradient(135deg,#72bf70 0%,#4f97be 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color:#000;
}

.chaedu_old{
    margin-top:20px;
    width:93vw;
    height: 50px;
    background-color: #d32628;
    background-image: linear-gradient(135deg,#72bf70 0%,#4f97be 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
    color:#000;
}

.old_a{
    background-color: #999;
}

.top_t{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100vw;
    height: auto;
    background-color: #efefef;
}

.chaedu_profile{
    margin-top:20px;
    width:90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chaedu_profile:nth-child(even){
    background-color: #fafafa;
}

.chaedu_profile_1{
    width:90vw;
    height: 20px;
    display: flex;
    flex-direction: row;
}

.chaedu_profile_2{
    font-size: 10px;
    width:50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#666;
    border:1px solid #d32628;
}

.chaedu_profile_3{
    font-size: 10px;
    width:50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#666;
    border:1px solid #888;
}

.chaedu_profile_a{
    width:90vw;
    height: 23px;
    display: flex;
    flex-direction: row;
}

.chaedu_aa{
    font-size: 12px;
    width:33.3333%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#333;
    border:1px solid #d32628;
}

.chaedu_aab{
    font-size: 14px;
    width:50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#333;
    border:1px solid #d32628;
}

.chaedu_aaa{
    font-size: 12px;
    width:33.3333%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#333;
    border:1px solid #888;
}

.chaedu_aaaa{
    font-size: 14px;
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#333;
    border:1px solid #888;
}

.chaedu_bbb{
    font-size: 12px;
    width:66.6666%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#666;
    border:1px solid #888;
    padding-left: 5px;
}
.chaedu_ccc{
    font-size: 14px;
    width:33.3333%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    background-color: #d32628;
    cursor: pointer;
}
.chaedu_content{
    margin-top:20px;
    margin-bottom: 20px;
}

.chaedu_reg_1{
    margin-top:20px;
    width:93vw;
    height: 52px;
    background-color: #d43d3d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight:900;
    color:#000;
}

.chaedu_reg{
    margin-top:20px;
    width:93vw;
    height: 50px;
    background-color: #d32628;
    background-image: linear-gradient(135deg,#72bf70 0%,#4f97be 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
    color:#000;
}


.chaedu_jin{
}
.frame_ba{
    position: fixed;
    top:0px;
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);

}

.frame_content{
    width:320px;
    height: 491px;
    background-image: url('http://feidaijun.xiaohongxian.com/santi_home.png');
    background-repeat:no-repeat; 
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    border-radius: 10px;
    margin-top:-20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.qrcode_zs{
    position: fixed;
    top:0px;
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);

}

.qrcode_zs_b{
    width:320px;
    height: 491px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://feidaijun.xiaohongxian.com/zs_code_2.png');
    background-repeat:no-repeat; 
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    border-radius: 10px;
    margin-top:-20px;

}


.qrcode_sq{
    position: fixed;
    top:0px;
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);

}

.qrcode_tg_b{
    width:320px;
    height: 491px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('http://feidaijun.xiaohongxian.com/feidaijun_tg123.png');
    background-repeat:no-repeat; 
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    border-radius: 10px;
    margin-top:-20px;

}

#qrcode_t{
    margin-top:165px;
}

#qrcode{
    margin-top:160px;
}

.clear_t,.clear_a,.clear_ba,.clear_alipay{
    cursor: pointer;
}

.alipay{
    position: fixed;
    top:0px;
    width:100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alipay-c{
    width:82vw;
    height: 260px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.alipaytip{
    font-size: 20px;
    font-weight: bold;
    color:#474747;
    margin-bottom: 22px;
}


#alipay-number{
    width:90%;
    height: 50px;
    background-color: #efefef;
    border-radius: 5px;
    padding-left: 20px;
    border:none;


}

#alipaycheck{
    width:90%;
    height:50px;
    background-color: #bd3a34;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color:#fff;
    margin-top: 22px;
    border-radius: 5px;
    cursor: pointer;
}

#tuixiu_code{
    margin-top:58%;
}

#santi_code{
    margin-top:58%;
}

.feixia_zonghe{
    margin-top:10px;
    width:90vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feixia_zonghe a:nth-child(odd){
    margin-right: 20px;
}


.feixia_zonghe a:nth-child(even){
    margin-right: 20px;
}

/* 业绩详情 */

.feixia_p{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
    margin-top:20px;
    width:100%;
    height: 44px;
    background-color: #3e404f;
}

.feixia_a{
    font-size: 14px;
    color:#bbb;
}

.feixia_b{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
    height: 26px;
    background-color: #c34944;
    border-radius: 13px;
    color:#fff;
    font-size: 12px;
}

.feixia_y{
    margin-top:5px;
    padding-right: 20px;
    width:100%;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 22px;
    font-weight: bolder;
    color: #bbb;
    font-family: "微软雅黑",

}

.feixia_m{
    margin-top:5px;
    padding-right: 20px;
    width:100%;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 50px;
    font-weight: bolder;
    color: #dbae7c;
    font-family: "微软雅黑";
   
}

.otherF{
    margin-top: 20px;
    width:90vw;
    height: 30px;
    display: flex;
    align-items: center;
    font-size:16px;
    color:#111;
    font-weight: bolder;
    font-family: "微软雅黑";
}

.feixia_zonghe a{
    margin-top:10px;
    display: inline-block;
    width:auto;
    height: 20px;
    padding:2px 10px 2px 10px;
    background-color: #fefaf9;
    color:#ec614f;
    font-size: 12px;
    border-radius: 2px;

}


