.check{
	display: flex;
	flex-direction: row;
	width:100vh;
	height:35px;
	align-items: center;
	justify-content: center;
}

.check tr{
	width:100%;
	height: 30px;

}

.check td{
	/*width:16.66666%;*/
	padding:10px;

}

.gonghao{
	display: flex;
	flex-direction: row;
}