 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Helvetica Neue,PingFang SC,Microsoft YaHei;
    -webkit-font-smoothing:antialiased;/* chorm safari 抗锯齿*/
    -webkit-overflow-scrolling:touch;
    outline:none;
}
/* 滚动条样式调节*/
::-webkit-scrollbar{margin-right:3px;width:4px;height:4px}
::-webkit-scrollbar,::-webkit-scrollbar-track{background-color:transparent}
::-webkit-scrollbar-thumb{width:4px;border-radius:2px;background-color:#e4e4e4}

body,html{min-height:100%;background:#2e323c;}
a,a:visited{text-decoration:none}
h1,h2,h3,h4,h5,h6{font-weight:500}
input{
	border-radius: 0px;
}

/*.top{
	width:100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}*/

.header{
	display: flex;
	align-items: center;
	justify-content: center;
}

.header img{
	max-width: 100%;
}

.content{
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content-list-a{
	display: flex;
	align-items: center;
	justify-content: center;
	width:93%;
	height: 52px;
	background-color: #cc2b2c;
	background-image: linear-gradient(135deg,#72bf70 0%,#4f97be 100%);
	margin-top:20px;
	border-radius: 5px;
	font-size: 16px;
	color:#333;
	transition: background-color .2s;
	cursor: pointer;
	font-weight: bold;
}

.content-list-a:hover{
	background-color: #8d1b13;
	color:#eee;
}

.footer{
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footer-a{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top:20px;
	max-width: 93%;
	background-color: #fff;
	padding:10px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.footer-a-img{
	width:100%;
}


/*--------------------------------*/

.header-number{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.header-number img{
	width:100%;
	height: auto;
	margin:0;
}

.content-content{
	margin-top: 15px;
	width:93%;
	height:105px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	background-color: #fff;
}
.content-contentb{
	margin-top: 35px;
	width:93%;
	height:auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	padding:5px 0 5px 0;
	background-color: #fff;
}


.content-contents{
	margin-top: 15px;
	width:93%;
	height:auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	background-color: #fff;
}


.content-content input{
	width:100%;
	height: 45px;
	border:none;
	padding-left:20px;
	margin:0;
	margin-top:5px;
/*	border-bottom: 1px solid #eee;*/
}

.content-contents input{
	width:100%;
	height: 45px;
	border:none;
	padding-left:20px;
	margin:0;
	margin-top:5px;
/*	border-bottom: 1px solid #eee;*/
}

.content-contentb input{
	width:100%;
	height: 40px;
	border:none;
	padding-left:20px;
	margin:0;
	margin-top:5px;
/*	border-bottom: 1px solid #eee;*/
}

.content-content input:nth-child(1){

	border-bottom: 1px solid #eee;
}

.content-contents input{

	border-bottom: 1px solid #eee;
}


.content-list-aa{
	display: flex;
	align-items: center;
	justify-content: center;
	width:93%;
	height: 52px;
	/*background-color: #cc2b2c;*/
	background-image: linear-gradient(135deg,#72bf70 0%,#4f97be 100%);
	font-size: 18px;
	color:#000;
	transition: background-color .2s;
	cursor: pointer;
	margin:0;
	padding:0;
	margin-top:15px;
	border-radius: 5px;

}

.content-list-aa:hover{
	background-color: #8d1b13;
	color:#eee;
}

.footer-a-img{
	padding:5px 0 20px 0;
	width:80%;
}


/*--------------------------------------------------------*/

.top_guize{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.chaedu_guize{
	width:91vw;
	height: auto;
	padding:15px 10px 15px 10px;
	border:2px solid #eee;
	border-radius: 10px;
	font-size: 12px;
	color:#fff;
	font-weight: normal;
	margin-bottom: 30px;
}

.p_guize{
	margin-top:10px;
}

.span_guize{
	display:inline-block;
	text-align: center;
	width:14px;
	height: 14px;
	background-color: #d53334;
	border-radius: 50%;
	margin-right: 3px;
}