doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title 瓜分100亿飞贷额度
		link(rel="shortcut icon" href="http://feidaijun.xiaohongxian.com/logo.png")
		link(rel="bookmark" href="http://feidaijun.xiaohongxian.com/logo.png")
		link(rel="icon" href="http://feidaijun.xiaohongxian.com/logo.png" type="image/png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="apple-touch-icon" href="http://feidaijun.xiaohongxian.com/logo.png")
		meta(name="apple-mobile-web-app-title" content="飞贷活动")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="white")
		link(rel="stylesheet" href="http://feidaijun.xiaohongxian.com/guafen_profile2.css")
		script(src="http://feidaijun.xiaohongxian.com/remindx.js")
	body
		img.guafen_img_h(src="http://feidaijun.xiaohongxian.com/guafen_header123.png")
		div.guafen-content
			div.linea
			div.guafen-title 测测你能借多少
			input.username(type="text" placeholder="客户姓名")
			input.usernumber(type="text" placeholder="客户手机号")
			input.userid(type="text" placeholder="客户身份证号")
			input.fang_m(type="text" placeholder="按揭房月供金额，填数字，没有填0")
			input.ka_m(type="text" placeholder="最大信用卡额度，填数字，没有填0")
			input.tj_number(type="text" placeholder="推荐人手机号")
			span.guafen_font 推荐人最高可得<span style="color:#d3332e;">2%</span>首借金额奖金,<span style="color:#d3332e;">秒结算</span>
			a.guafen_in(href='http://wx.feidaijun.com/chaedu_activity_zs/'+number) 没有推荐人？戳我成为推荐人
			div.line
		div.guafen_footer 看看能借多少
		script(src="http://feidaijun.xiaohongxian.com/jquery.min.js")
		script(src="http://feidaijun.xiaohongxian.com/guafen_home.js")