doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title 瓜分100亿飞贷额度
		link(rel="shortcut icon" href="http://feidaijun.xiaohongxian.com/logo.png")
		link(rel="bookmark" href="http://feidaijun.xiaohongxian.com/logo.png")
		link(rel="icon" href="http://feidaijun.xiaohongxian.com/logo.png" type="image/png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="apple-touch-icon" href="http://feidaijun.xiaohongxian.com/logo.png")
		meta(name="apple-mobile-web-app-title" content="飞贷活动")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="white")
		link(rel="stylesheet" href="http://feidaijun.xiaohongxian.com/guafen_profile2.css")
		script(src="http://feidaijun.xiaohongxian.com/remindx.js")
	body
		img.guafen_img_h(src="http://feidaijun.xiaohongxian.com/guafen_header123.png")
		div.guafen-content
			div.linea
			div.guafen-titles -- 恭喜 --
			div.guafen-name=username
			span.guafen-pro 您获得了飞贷
			span.guafen-pro <span style="color:#d3332e;">#{guaedu}万</span>额度
			a.gaufen-remind(href="https://wx.feidai.com/view/NewActivityDetail/ReceiveFriend.aspx?type=1&phone=13248413489") 下载飞贷APP申请借款
			div.remind 最终额度以APP审核为准
			div.line
		a.guafen_footer(href="https://wx.feidai.com/view/NewActivityDetail/ReceiveFriend.aspx?type=1&phone=13248413489") 立即借款